.flex {
  background-color: red;
}

#gameData {
  display: none;
}

.card {
  width: 150px;
  height: 150px;
  background-color: rgb(175, 212, 255);
  border: solid 2px;
  border-radius: 15px;
  float: left;
  margin-right: 20px;
}

h1.footer {
  color: white;
}

.footer {
  background-color: #363636;
  color: white;
}
h1.footer{
  color:white;
}
.footer{
  background-color:#363636;
  color:white;

.button {
  margin-top: -20px;
}

.subtitle {
  margin-top: -20px;
}