<<<<<<< HEAD
#gameData {
  display: none;
}
=======
.card {
    width: 200px;
    height: 200px;
    background-color: gray;
    border: solid 2px;
    border-radius: 15px;
}
>>>>>>> c0569a00433a488f9d4f03cadd1c4e162b57fffb
